@keyframes play60 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -11520px 0px;
  }
}

/*::-webkit-scrollbar {
      width: 10px;
}*/

a:hover{
	text-decoration: none;
	color: rgba(211,211,211,1.00);
}
.shapeshifter {
  animation-duration: 1000ms;
  animation-timing-function: steps(60);
  
  width: 192px;
  height: 108px;
  background-repeat: no-repeat;
  cursor: pointer;
	/*animation-fill-mode: forwards;*/
  
}
.shapeshifter.play {
  animation-name: play60;
}
#wrapper{
	position: relative;
	
}
.navbarleft{
	margin-top: 9%;
	margin-right: 9%;
	padding-right:0px;
	width: 11%;
	position: fixed;
	right: 0px;
	z-index: 200;
	font-size: 1.95em;
	font-weight: bold;
}
.content{
	background-color: rgba(220,220,220,0.65);
	font-size: 24px;
	font-weight: bold;
	position: relative;
	z-index: 100;
}
.background{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -100;
}
