@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*:focus {
    outline: none !important;
}
.wait-menu {
    animation: waiting 0.5s;
}
.menu {
    transition: 0.5s;
    height: 2px;
    width: 18px;
    background-color: white;
}
.openBottom {
    transform: rotateZ(-45deg) scaleX(1.3) translate(-3px, 3px);
}
.openTop {
    transform: rotateZ(45deg) scaleX(1.3) translate(3px, 5px);
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}